img {
    width: 200px;
}

.purple {
    color: #800080;
}

h1 {
    font-family: Langar;
}

body {
    background-image: linear-gradient(#DDA0DD, #800080);
}

li {
    color: yellow;
    font-family: Lato;
}

p {
    color: yellow;
    font-family: Lato;
}

a:hover {
    color: blue;
}

a {
    color: yellow;
    font-family: Lato;
}